<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%@task.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with scope: :task, url: update_task_path, method: :patch, locale: true do |form| %>
  <%= render 'form', f: form %>
<% end %>