<div class="container">
  <div class="row">
    <div class="col col-md-6 mt-6 mb-5">
      <div class="col col-md-10">
        <h1 class="p-4 mb-3 title__priority">Editing Task</h1>
        <%= render 'errors' %>
        <div class="container">
          <%= form_with scope: :task, url: update_task_path, method: :patch, locale: true do |form| %>
            <%= render 'form', f: form %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col col-md-6 image__div">
      <div class="image__container">
        <%= image_tag "bg_image.png" %>
      </div>
    </div>
  </div>
</div>