<div class="mt-5 mb-5 d-flex flex-column flex-md-row">
  <div class="container">
    <h1>Editing Task</h1>
  </div>
  
  <div class="container">
    <div class="col col-md-8">
      <%= render 'errors' %>
      <%= form_with scope: :task, url: update_task_path, method: :patch, locale: true do |form| %>
        <%= render 'form', f: form %>
      <% end %>
    </div>
  </div>
</div>