<h1>Editing Task</h1>

<div class="container">
  <%= render 'errors' %>
  <%= form_with scope: :task, url: update_task_path, method: :patch, locale: true do |form| %>
    <%= render 'form', f: form %>
  <% end %>
</div>