<div class="container">
  <h1>All Tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
        <div class="col col-8">
          <p class="mb-0"><%= task.name %></p>
          <p class="mb-0"><%= task.due_date %></p>
        </div>
        <%= render "/shared/modify_task", task: task %>
      </li>
    <% end %>
  </ul>
</div>
