<div class="col icons__modify">
  <%= link_to category_path(category) do %>
    <i class="bi bi-eye-fill p-2 icons__color" data-toggle="tooltip" data-placement="top" title="View category"></i>
  <% end %>
  <%= link_to edit_category_path(category) do %>
    <i class="bi bi-pencil-square p-2 icons__color" data-toggle="tooltip" data-placement="top" title="Edit category"></i>
  <% end %>
    <%= render "shared/delete_modal_category", category: category %>
</div>