<div class="container text-end">
  <%= link_to category_task_path(task.category_id, task) do %>
    <i class="bi bi-eye-fill p-2" data-toggle="tooltip" data-placement="top" title="View Task"></i>
  <% end %>
  <%= link_to edit_category_task_path(task.category_id, task) do %>
     <i class="bi bi-pencil-square p-2" data-toggle="tooltip" data-placement="top" title="Edit task"></i>
  <% end %>
 <%= render "shared/delete_modal_task", task: task %>
</div>