
<div class="d-flex flex-column flex-md-row">
  <div class= "col col-md-4" style= "background-color: lightgray">
      <h2>Tasks today</h2>
      <ul class="list-group">
        <% @tasks_today.each do |task| %>
          <li class="list-group-item"><%= task.name %></li>
        <% end %>
      </ul>
  </div>
  

  <div class="col col-md-8">
    <div class= "container-fluid" style= "background-color: lightblue" >
    <h2>View by category</h2>
      <div class="row d-flex justify-content-around">
        <% @categories.each do |category| %>
          <div class="card col-sm-6 col-md-4 card-equal-height">
            <div class="card-body">
              <h5 class="card-title"><%= category.name %></h5>
              <% category.tasks.each do |task| %>
                <p class="card-text"><%= task.name %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class= "container-fluid" style= "background-color: lightgreen">
      <h2>View by task</h2>
      <% @tasks.each do |task| %>
        <h2><%= task.name %></h2>
      <% end %>
    </div>
  </div>
</div>
