<div class="container">
  <div class="row">
    <div class="col col-md-6 d-flex flex-column mt-5">
      <h1 class="mb-5 mt-5 title__priority">Don't miss out important tasks</h1>
      <h2 class="mb-5">Start creating your journal now.</h2>
      <%= button_to "Get started", new_user_session_path, method: :get, class: "btn btn-primary" %>
    </div>

    <div class="col col-md-6 image__div">
      <div class="image__container">
        <%= image_tag "bg_image.png" %>
      </div>
    </div>
  </div>
</div>