// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form__textarea {
  height: 250px;
  min-height: 250px !important;
  max-height: 250px;
}

.card__modify {
  position: relative !important;
}

.icons__modify {
  position: absolute !important;
  right: 1em !important;
  bottom: 1em !important;
}

a {
  text-decoration: none !important;
}

.card {
  border: none !important;
  background-color: #b4efd6 !important;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(180,239,214,1) 35%, rgba(0,212,255,1) 100%);
  color: brown;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}