// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form__textarea {
  height: 250px;
  min-height: 250px !important;
  max-height: 250px;
}

.card__modify {
  position: relative !important;
}

.icons__modify {
  position: absolute !important;
  right: 1em !important;
  bottom: 1em !important;
}

a {
  text-decoration: none !important;
}