<div class="mt-5 mb-5 d-flex flex-column flex-md-row" >
  <div class="container">
    <h1>Edit Category</h1>
  </div>
  
  <div class="container">
    <div class="col col-md-8">
      <%= render 'errors' %>
      <%= form_with scope: :category, url: edit_category_path, method: :patch do |f| %>
        <%= render "form", form: f %>
      <% end %>
    </div>
  </div>
</div>