<div class="mt-5 mb-5 d-flex flex-column flex-md-row mt-5" >
  <div class="container d-flex justify-content-center">
    <div class="col col-md-8">
      <h1 class="p-3 mb-3">Edit Category</h1>
      <%= render 'errors' %>
      <%= form_with scope: :category, url: edit_category_path, method: :patch do |f| %>
        <%= render "form", form: f %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h1>Edit Category</h1>
  </div>
</div>