<div class="container" >
  <div class="row">
    <div class="col col-md-6 mt-6 mb-5">
      <div class="col col-md-10">
        <h1 class="p-4 mb-3 title__priority">Edit Category</h1>
        <%= render 'errors' %>
        <%= form_with scope: :category, url: edit_category_path, method: :patch do |f| %>
          <%= render "form", form: f %>
        <% end %>
      </div>
    </div>
    
    <div class="col col-md-6 image__div">
      <div class="image__container">
        <%= image_tag "bg_image.png" %>
      </div>
    </div>
  </div>
</div>