<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Add Category</h1>

<div class="container">
  <%= render 'errors' %>
  <%= form_with scope: :category, url: create_category_path do |f| %>
    <%= render "form", form: f %>
  <% end %>
</div>