<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%@category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<h1>Add Category</h1>
<%= form_with scope: :category, url: create_category_path do |f| %>
  <%= render "form", form: f %>
<% end %>